#navbar_component{
    height: 4rem;
    position: sticky;

    #profile_placeholder{
        height: 2.5rem;
        width: 2.5rem;
        border-radius: 999px;
        background: rgb(170, 59, 59);
        cursor: pointer;
    }

    .navbar_askquestion{
        border:none;
        border-radius: 999px;
        font-size: 1rem;
        user-select: none;
        cursor: pointer;
        outline-style: none;
        transition: 0.2s;

        &:hover{
            transform: scale(1.1);
        }
    }
}
