<div>
    <app-navbar></app-navbar>

    <!-- Profile page code goes here -->
    <div class="profile-section d-flex flex-column mx-5 my-2">
        <section class="d-flex align-items-center">
            <app-avatar-circle class="rounded-circle my-3"></app-avatar-circle>
            <a class="btn btn-primary mx-3" href="/profile/style-avatar">Style Avatar</a>
        </section>
        <div class="username-edit d-flex">
            <input value={{user.username}} class="rounded">
            <button class="btn btn-primary mx-2">Edit</button>
        </div>
    </div>
</div>