<form class="w-50 m-3" [formGroup]="loginForm" (ngSubmit)="handleLogin()">
    <div class="form-group row">
        <label 
            class="col-form-label col-sm-4"
        >Username :</label>
        <input 
            class="form-control col-sm-8" 
            type="text" 
            formControlName="username"
            required
        >
    </div>
    <div class="form-group row">
        <label class="col-form-label col-sm-4">Password :</label>
        <input 
            class="form-control col-sm-8" 
            type="password" 
            formControlName="password"
            required
        >
    </div>
    <button 
        type="submit" 
        class="btn btn-primary"
    >Submit</button>
</form>
<div>Don't have an account? <a routerLink="/signup">SignUp</a></div>
<div 
    class="alert alert-danger w-50 m-3"
    *ngIf="error != ''"
>{{error}}</div>